@charset "utf-8";

/*--------------------------------------*/
/*           General rule               */
/*--------------------------------------*/

:root {
    --app-dark-background: #1a1d28;
    --app-lightgray: #c3c3c3;
    --app-blue: #2e3aec;
    --app-yellow: #e6e600;
    --app-white: #fff;
    --app-dark-gray-transp: #8080809c;
    --app-dark-gray: #808080;
    
}

html {
    box-sizing: border-box;
    font-family: 'Nunito Sans', 'Open Sans', Arial, sans-serif ;
} 

main {
    background-color: var(--app-dark-background) ;
}

.container {
    width: min(100% - 32px, 1080px);
    margin: auto;
}

.flex {
    display: flex;
}

.flex-between {
    justify-content: space-between;
}

.grid-center{
    display: grid;
    place-items: center;
}

.flex-column {
    flex-direction: column;
}


/*--------------------------------------*/
/*           Header                     */
/*--------------------------------------*/
header{
    height: 60px;
    overflow: hidden;
}

.logo {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 2.5px;
    padding-top: 15px;
}

nav {              
    list-style: none;
}

ul li{
    display: inline-block; 
    font-variant: tabular-nums;
    padding-top: 15px;
}

.menu {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    padding-left: 20px;
    
}

.menu:hover{
    color: #88aef5;
    font-size: 18px;
    font-weight: 500;
    padding-left: 20px;
    transition: all 0.25s ease-in-out;
}

/*--------------------------------------*/
/*           Hero Banner                */
/*--------------------------------------*/
.hero {
    position: relative;
    width: 100%;
    height: calc(70vh - 60px);
    background: url('../img/background.jpg');
    background-size: cover center;  
    text-align: center;
    align-content: center;
    overflow: hidden;
}

.hero-content {
    text-align: center;
    align-items: center;
    
    h1 {
        line-height: 70px;
        font-size: 40px;
        font-weight: 500;
        color: #88aef5;
        padding: 30px 0px 0px 0px;
    }

    p {
        line-height: 30px;
        font-size: 20px;
        font-weight: 400;
        color: #88aef5;
    }    
} 

.row {
    margin-top: 20px;
    gap: 20px;
    flex-wrap: wrap;  
}

.col {
    width: calc(50% - 10px);
}

@media screen and (max-width: 768px) {
    .one, .two {
        width: calc(100% - 10px);   
    }
}    

@media screen and (max-width: 480px) {
    .col {
        width: 100%;   
    }
}

/*--------------------------------------*/
/*           Introduction               */
/*--------------------------------------*/
.intro {
    
    h1 {
        line-height: 70px;
        font-size: 50px;
        font-weight: 500;
        color: var(--app-yellow);
        text-align: center;
        padding: 60px 0;
        border: none;
        margin: 20px 0; 
    }
    
}

.intro-txt {
    color: var(--app-white);

    h2 {
        line-height: 50px;
        font-size: 40px;
        font-weight: 600;
        padding: 30px 30px;
    }

    h3 {
        line-height: 30px;
        font-size: 20px;
        font-weight: 500;
        padding: 0 30px;
    }

    p {
        line-height: 30px;
        font-size: 20px;
        font-weight: 400;
        padding: 30px 30px 30px 30px;
    }

    img {
        border-radius: 10px;
    }

    .text {
        background-color: var(--app-dark-gray-transp);
        border: 1px solid var(--app-dark-gray);
        border-radius: 10px;
        box-shadow: 1px 1px 1px var(--app-lightgray);    
    }

    .text:hover{
        color: var(--app-white);
        background-color: var(--app-dark-gray);
        transition:  0.25s ease-in-out;
    }

    .picture {
        border: 1px solid var(--app-dark-gray);
        border-radius: 10px;
        background-color: var(--app-lightgray);
        display: grid;
        place-items: center;
        box-shadow: 1px 1px 1px var(--app-lightgray);
    }
}

/*--------------------------------------*/
/*               My Projects            */
/*--------------------------------------*/
.my-projects {
    background-color: var(--app-lightgray);
    color: var(--app-blue);
    text-align: center;
    width: 100%;
    margin: 20px 0px 20px 0px;
    

    h1 {
        line-height: 60px;
        font-size: 50px;
        font-weight: 500;
        text-align: center;
        padding: 30px 0 0 0;
        border: none;    
    }

    h2 {
        line-height: 40px;
        font-size: 30px;
        font-weight: 500;
        padding: 30px 0;
    }

    p {
        line-height: 35px;
        font-size: 25px;
        font-weight: 500;
        padding: 30px 0;
    }

    .re-link {
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        text-decoration: none;
        color: var(--app-white);
        transition: all 0.25s ease-in-out;
        background-color: var(--app-blue);
        border-radius: 5px;
        padding: 8px 10px 10px 10px;
    }
    .re-link:hover {
        background-color: var(--app-dark-gray);
    }
    .text {
        padding-bottom: 30px;
    }
}

/*--------------------------------------*/
/*                 Contact              */
/*--------------------------------------*/

.contact-section {
    
    h1 {
        line-height: 70px;
        font-size: 50px;
        font-weight: 500;
        color: var(--app-yellow);
        text-align: center;
        padding: 0px 0px;
        border: none;
        margin: 20px 0; 
    }
    
}

.contact-txt {
    color: var(--app-white);

    h2 {
        line-height: 50px;
        font-size: 40px;
        font-weight: 600;
        padding: 0px 0px;
    }

    h3 {
        line-height: 30px;
        font-size: 20px;
        font-weight: 500;
        padding: 0 0px;
    }

    .text {
         
    }

    .picture {
        place-items: left;
        
    }

    .icon {
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        text-decoration: none;
        color: var(--app-white);
        transition: all 0.25s ease-in-out;
        background-color: var(--app-blue);
        border-radius: 5px;
        padding: 8px 10px 10px 10px;
        margin-right: 20px;
    }
    .icon:hover {
        background-color: var(--app-dark-gray);
    }
}

/*--------------------------------------*/
/*               Footer                 */
/*--------------------------------------*/

footer { 
    background-color: var(--app-lightgray);
    margin-top: 20px;
    height: 45px; 
    
    p {
        font-size: 17px;
        font-weight: 400;
        padding: 10px;
        color: black;
    }

    .icon {
        font-size: 20px;
        color: black;

        i {
            padding: 15px 10px 0px 0px ;
        }
    }

    .icon:hover{
        color: var(--app-blue);
        transition: all 0.25s ease-in-out;
    }
}
